/* 這裡會自動幫我匯入 TailWind CSS，所以我不用額外構建。 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 白天模式 */
:root {
    --g-bg-color: #f4f2f3;
    --g-text-color: black;
    --g-avatar-bg-color: #c0a9bd;
    --g-user-content-bg-color: #deb9c395;
}

/* 黑夜模式 */
@media (prefers-color-scheme: dark) {
    :root {
        --g-bg-color: #f4f2f3;
        --g-avatar-bg-color: #c0a9bd;
        --g-user-content-bg-color: #deb9c395;
    }
}

body {
    color: var(--g-text-color);
    background: var(--g-bg-color);
}
